doctype html
html
    head
        meta(charset='utf8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Book Store
        meta(name='title', content='Book Store')
        meta(name='description', content='CRUD book store web app')
        // Open Graph / Facebook
        meta(property='og:type', content='website')
        meta(property='og:url', content='https://metatags.io/')
        meta(property='og:title', content='Book Store')
        meta(property='og:description', content='CRUD book store web app')
        meta(property='og:image', content='/images/bookicon.png')
        // Twitter
        meta(property='twitter:card', content='summary_large_image')
        meta(property='twitter:url', content='https://metatags.io/')
        meta(property='twitter:title', content='Book Store')
        meta(property='twitter:description', content='CRUD book store web app')
        meta(property='twitter:image', content='/images/bookicon.png')
        // Meta Tags Generated with https://metatags.io
        link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
        link(rel='manifest', href='/favicon/site.webmanifest')
        link(rel='stylesheet', href='/stylesheets/base.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/responsive.css')
    body
        block content
